* text=auto eol=lf

*.jpg           binary
*.jpeg          binary
*.png           binary
*.ttf           binary
*.otf           binary
*.eot           binary
*.woff          binary
*.woff2         binary

*.css           linguist-detectable=false
